<mat-toolbar color="primary" class="col-12">
  <span class="container d-block position-relative ml-0 float-left"
    >Mi primerito día</span
  >
  <span
    *ngIf="router.url != '/login'"
    class="position-relative mr-0 float-right"
  >
    <button mat-button [routerLink]="'form'">Formulario</button
    ><button mat-button [routerLink]="'table'">Search NBA players</button>
    &nbsp;
    <button mat-mini-fab color="warn">
      <fa-icon [icon]="faSignOutAlt" (click)="logOut()"></fa-icon>
    </button>
  </span>
</mat-toolbar>
